body {
    background: #390000d3;
  }
  .content {
    margin: auto;
    padding: 0px;
    width: 90%;
    max-width: 800px;
    box-sizing: border-box;
  }
  .image {
    display: flex;
    justify-content: center;
    margin: 30px;
  }
  
